@use "@/styles/helpers" as *

.breadcrumbs
    width: 100%
    font-weight: 300
    font-size: 0.875rem
    line-height: 1.0625rem
    display: flex
    gap: 5px
    margin: 30px 0

.breadcrumb
    &-link
        &--current
            color: rgba($deep-purple, 0.8)
            padding: 0.125em 0.6875em
            background: $white
            border-radius: 20px

    & + &
        &::before
            content: "/"
            padding-right: 5px
