@use "@/styles/helpers" as *

.footer
    background: linear-gradient(180deg, rgba(110, 16, 94, 0) 3.12%, #320029 100%)
    font-weight: 600
    font-size: 1.25rem
    display: flex
    @extend %content-padding
    padding-top: 0.75em
    padding-bottom: 0.75em

    @media screen and ( max-width: 768px )
        font-size: 0.8rem

    &__logo
        width: 12em

    &__contacts
        width: 100%
        display: flex
        flex-direction: column
        gap: 1.875em
        justify-content: flex-end
        padding-bottom: 1.625em

    &__links
        display: flex
        justify-content: flex-end
        align-items: center
        column-gap: 2.9375em
        row-gap: 1em
        flex-wrap: wrap

    &__media
        display: flex
        justify-content: center
        align-items: center
        gap: 1.875em